<style>
  #run:hover {
    background: whitesmoke !important;
  }
</style>

<div class="ui text container segments" style="margin-top:100px;">

  <div class="ui padded segment">
    <div class="ui header">
      Model chooser
    </div>
    <div class="content">
      블랭크
    </div>

    <div class="ui compact right floated button" style="background:white" id="run">
      <i class="sync icon"></i>
      RUN
    </div>
    <br>

  </div>

  <div class="ui padded segment">
    <div class="ui header">Cumulative</div>
    <div class="content">
      <canvas id="nav" style="max-width:90%;max-height:300px;margin-left:auto;margin-right:auto"></canvas>
    </div>
  </div>

  <div class="ui padded segment">
    <div class="ui header">Stats</div>
    <div class="content">

      <div class="ui three column stackable grid container">
        <div class="column" style="text-align:center;">
          <div class="ui small header">
            Annual return
          </div>
          <canvas id="Annual return" style="max-width:90%;max-height:200px;margin-left:auto;margin-right:auto"></canvas>
        </div>

        <div class="column" style="text-align:center;">
          <div class="ui small header">
            Volatility
          </div>
          <canvas id="Volatility" style="max-width:90%;max-height:200px;margin-left:auto;margin-right:auto"></canvas>
        </div>

        <div class="column" style="text-align:center;">
          <div class="ui small header">
            Sharpe
          </div>
          <canvas id="Sharpe" style="max-width:90%;max-height:200px;margin-left:auto;margin-right:auto"></canvas>
        </div>
      </div>

    </div>
  </div>


  <div class="ui padded segment">
    <div class="ui header">Positions</div>

    <div class="ui compact floating scrolling dropdown button">
      <span class="text">Rebalancing</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        {% for date in results.dates %}
          <div class="item">{{ date }}</div>
        {% endfor %}
      </div>
    </div>

    <div class="content" style="margin-top:10px;">
      <table class="ui basic fixed selectable unstackable very compact collapsing table" id="position">
      </table>
    </div>
  </div>

</div>
