<!doctype html>
<html lang="ko">
<head>
  <title>QIT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
</head>

<body style="background:whitesmoke">
  {% include "backtester/header.html" %}
  {% include "backtester/content.html" %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <script src="/static/semantic/semantic.min.js"></script>

  <script>
    $("#logo").mouseover(function() {
      $("#logoicon").attr("class", "asterisk large loading icon");
    });

    $("#logo").mouseout(function() {
      $("#logoicon").attr("class", "asterisk large icon");
    });

    new Chart('nav', {
        type: 'line',
        data: {
          labels: {{ results.dates | safe }},
          datasets: [{
            label: 'Model',
            data: {{ results.navs_model }},
            borderColor: 'orange',
          }, {
            label: 'BM',
            data: {{ results.navs_bm }},
            borderColor: 'black',
          }],
        },
        options: {
          elements: {
            point: { radius: 0 },
            line: { fill: false, tension: 0 },
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit:'year',
                displayFormats: { year:'YYYY' },
              },
              gridLines: { display: false },
            }],
            yAxes: [{
              ticks: {
                min: {{ results.navs_min }},
              },
              gridLines: { display: false },
            }],
          },
          legend: {
            display: true,
            labels: {
              // boxWidth: 100,
            },
          },
        }
    });
  </script>
</body>
</html>
